.btn {
  padding: 4px 14px;
  font-size: 20px;
  background-color: transparent;
  color: #dd4a7b;
  border-radius: 2px;
  font-weight: 800;
  border-color: #dd4a7b;
  border-style: solid;
  border-width: 2px 0px 2px 0px;
  height: 45px;
  width: 100px;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  // padding: 6px 18px;
  color: #fff;
  background-color: #c2134e;
}
.loginsucceswrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .logibtnlink {
    width: 200px;
    height: 60px;
  }
  .btn {
    font-size: 1.125rem;
    width: 150px;
    height: 60px;
  }
}
