.navbar {
  z-index: 10;
  background: linear-gradient(
    0deg,
    rgba(28, 27, 27, 0.05),
    rgba(28, 27, 27, 0.45) 40%,
    rgba(26, 23, 23, 0.85) 100%
  );
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  transition: 1s all ease-out;
  padding: 0 7.15%;
}
.navbar:hover {
  background: linear-gradient(
    0deg,
    rgba(28, 27, 27, 0.2),
    rgba(28, 27, 27, 0.65) 60%,
    rgba(26, 23, 23, 0.85) 100%
  );
}
.fixed {
  position: sticky;
  top: 0;
  background: linear-gradient(
    0deg,
    rgba(28, 27, 27, 0.4) 20%,
    rgba(28, 27, 27, 0.65) 60%,
    rgba(26, 23, 23, 0.85) 100%
  );
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #8f0e39;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}
.nav-mobile {
  display: none;
}
.menu-icon {
  display: none;
}
.user-icon {
  font-size: 25px;
}
.dashboard-icon {
  color: #fff;
  width: 100px;

  &:hover {
    color: #8f0e39;
  }
}

@media screen and (max-width: 960px) {
  .fas-caret-down {
    display: none;
  }
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    justify-content: center;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #8f0e39;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #8f0e39;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }
  .nav-mobile {
    display: block;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  .dashboard-icon {
    position: fixed;
    top: 29px;
    right: 80px;
    text-decoration: none;
    color: #fff;
  }
  .navbar {
    button {
      display: none;
    }
  }
}
