* {
  box-sizing: border-box;
}
body {
  background-color: #9b8c73;
}
@import "./Home";
@import "./Hero";
@import "./Dropdown";
@import "./Button";
@import "./Form";
@import "./Navbar";
@import "./_rooms.scss";
@import "./AboutUs";
@import "./UserDashboard";
@import "./Footer";
@import "./Paymentpage";
