* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #9b8c73;
}

.container {
  overflow-x: hidden;
  max-width: 100vw;
}

.hero {
  margin-top: -100px;
  position: relative;
  width: 100%;
  height: 90vh;
  background: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

.heroimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.45;
}

.hero .content {
  position: relative;
  max-width: 750px;
  text-align: left;
  color: #fff;
  margin: 15% 50px 50px 12%;
}

.h1 {
  font-size: 7rem;
  padding: 2px 0;
}

.h2 {
  font-size: 4rem;
  padding: 5px 0;
}

.h3 {
  padding: 5px 0;
  font-size: 2.325rem;
}

.p {
  font-size: 1.325rem;
  max-width: 80%;
  padding: 5px;
}

@media screen and (max-width: 960px) {
  .h1 {
    font-size: 4.425rem;
    font-weight: 500;
  }
  .h2 {
    font-size: 2.425rem;
    padding: 10px 0;
    font-weight: 500;
  }
  .h3 {
    font-size: 1.625rem;
    padding: 5px;
    font-weight: 500;
  }
  .p {
    font-size: 0.925rem;
  }
  .hero .content {
    margin-top: 35%;
  }
}

.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background-color: #8f0e39;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #c42b5e;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

.btn {
  padding: 4px 14px;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: #dd4a7b;
  border-radius: 2px;
  font-weight: 800;
  border-color: #dd4a7b;
  border-style: solid;
  border-width: 2px 0px 2px 0px;
  height: 45px;
  width: 100px;
}

.btn:hover {
  color: #fff;
  background-color: #c2134e;
}

.loginsucceswrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginsucceswrapper .logibtnlink {
  width: 200px;
  height: 60px;
}

.loginsucceswrapper .btn {
  font-size: 1.125rem;
  width: 150px;
  height: 60px;
}

:root {
  --lngradient: linear-gradient(
    135deg,
    #d8ddd9 0%,
    #9eabaa 20%,
    #978d90 40%,
    #691016 70%,
    #4a0102 100%
  );
  --lngradient1: linear-gradient(90deg, #9eabaa 0%, #691016 50%, #4a0102 100%);
}

.form-page {
  max-width: 100vw;
  width: 100%;
  background: #9b8c73;
  min-height: 90vh;
}

.form-container {
  margin: 30px auto;
  width: 100%;
  max-width: 1000px;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 560px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

.form-content-left {
  position: relative;
}

.form-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.9;
  border-radius: 5px 0 0 5px;
}

.form-img-2 {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form-content-right {
  border-radius: 0 10px 10px 0;
  position: relative;
  background: #572e15;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::-webkit-input-placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input:-ms-input-placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input::-ms-input-placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: #9b8c73;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: #8f7240;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #fff;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}

.navbar {
  z-index: 10;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(28, 27, 27, 0.05)), color-stop(40%, rgba(28, 27, 27, 0.45)), to(rgba(26, 23, 23, 0.85)));
  background: linear-gradient(0deg, rgba(28, 27, 27, 0.05), rgba(28, 27, 27, 0.45) 40%, rgba(26, 23, 23, 0.85) 100%);
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  -webkit-transition: 1s all ease-out;
  transition: 1s all ease-out;
  padding: 0 7.15%;
}

.navbar:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(28, 27, 27, 0.2)), color-stop(60%, rgba(28, 27, 27, 0.65)), to(rgba(26, 23, 23, 0.85)));
  background: linear-gradient(0deg, rgba(28, 27, 27, 0.2), rgba(28, 27, 27, 0.65) 60%, rgba(26, 23, 23, 0.85) 100%);
}

.fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgba(28, 27, 27, 0.4)), color-stop(60%, rgba(28, 27, 27, 0.65)), to(rgba(26, 23, 23, 0.85)));
  background: linear-gradient(0deg, rgba(28, 27, 27, 0.4) 20%, rgba(28, 27, 27, 0.65) 60%, rgba(26, 23, 23, 0.85) 100%);
}

.navbar-logo {
  color: #fff;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #8f0e39;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.nav-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .fas-caret-down {
    display: none;
  }
  .NavbarItems {
    position: relative;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 80px;
    left: -100%;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: #8f0e39;
    border-radius: 0;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(25%, 50%);
            transform: translate(25%, 50%);
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(-100%, 60%);
            transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #8f0e39;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }
  .nav-mobile {
    display: block;
  }
  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    -webkit-transition: 250ms;
    transition: 250ms;
  }
  button {
    display: none;
  }
}

.rooms {
  background: #f1ede7;
  text-align: center;
  color: #572e15;
  font-family: "Lato", sans-serif;
}

.rooms .room-content {
  padding: 25px 0;
}

.rooms .h2 {
  font-size: 1.725rem;
  line-height: 2rem;
  padding: 15px;
  display: inline-block;
  padding: 15px 0;
  margin-bottom: 10px;
  font-weight: 300;
  font-family: "Lato";
}

.rooms .p {
  font-size: 1rem;
  line-height: 27px;
  font-family: "Lato";
  padding: 19.65px;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  color: #555555;
  max-width: 900px;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-margin-after: 25px;
          margin-block-end: 25px;
}

.rooms .btn {
  color: #572e15;
  font-size: 1.325rem;
  font-family: "Lato";
  font-weight: 300;
  border-color: red;
  border-width: 1px 0 1px 0;
  padding: 7px 40px;
  border-radius: 1px;
  width: 140px;
  height: 50px;
}

.rooms .btn:hover {
  color: red;
  border-color: #572e15;
  font-size: 1.3rem;
  background-color: transparent;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: 0.1s all ease-in;
  transition: 0.1s all ease-in;
}

.room {
  width: 100%;
  padding: 2px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #555555;
  background: #f1ede7;
  border-bottom: 2px solid #fff;
}

.room .room-flex-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  max-width: 900px;
}

.room .img-box {
  width: 300px;
  height: 250px;
  border-radius: 5px;
}

.room .room-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.room .content {
  width: 50%;
  min-width: 500px;
  height: 200px;
  text-align: left;
  border-radius: 10px;
  font-family: "Lato";
  text-transform: uppercase;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.room .content .h3 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 3rem;
  font-family: "Lato";
  color: #572e15;
}

.room .content .h4 {
  font-size: 1.425rem;
  line-height: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 5px 0px;
  font-family: "Lato";
  color: #5f5f5f;
}

.room .content .p {
  font-family: "Lato";
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  padding: 5px 1px;
}

.room .content .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 5px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 400px;
}

.room .content li {
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1.625rem;
  font-family: "Lato";
  font-weight: 350;
  padding: 2px;
  color: #700d06;
}

.room .content span {
  padding: 5px 2px;
  font-weight: 400;
}

@media screen and (max-width: 960px) {
  .room {
    padding: 2px 0;
    max-width: 100%;
  }
  .room-flex-contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.aboutUs {
  width: 100vw;
  height: 80vh;
  background-color: #9b8c73;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutUs .left-content {
  width: 40vw;
}

.aboutUs .left-content .h2 {
  font-size: 3.825rem;
  font-weight: 600;
  max-width: 50%;
}

.aboutUs .left-content .p {
  font-size: 1.235rem;
  font-weight: 400;
  max-width: 70%;
  line-height: 1.625rem;
}

.aboutUs .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(43, 39, 36, 0.9);
  height: 80vh;
  width: 40vw;
  max-width: 600px;
  padding: 7% 0;
}

.aboutUs .right-content .h4 {
  font-size: 2.625rem;
  font-weight: 500;
}

.aboutUs .right-content span {
  margin: 5px 2px;
  font-size: 1.325rem;
}

.aboutUs .right-content .btn {
  font-size: 1.625rem;
  padding: 8px 16px;
  width: 150px;
  height: 60px;
}

.tempuserdash {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato";
  color: #fff;
}

.tempuserdash h1 {
  font-size: 2.625rem;
  margin-top: 100px;
}

.userdashboardpage {
  /* grid */
  /* inside main */
  /* first block style */
  /* task header style*/
  /* calendar style */
  /* task-block and cards style */
  /* second block style */
  /* deals style */
  /* search style */
  /* sidebar style */
  /* Media Queries*/
}

.userdashboardpage :root {
  --bordercolor: #ebeff2;
  --secondcolor: #2ed47a;
  --spancolor: #109cf1;
  --fWeight500: 500;
}

.userdashboardpage .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.userdashboardpage p {
  margin: 0;
  padding: 0;
}

.userdashboardpage img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

.userdashboardpage .wrapper {
  background-color: #614921;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 256px calc(100% - 256px);
      grid-template-columns: 256px calc(100% - 256px);
  -ms-grid-rows: 60px calc(100% - 60px);
      grid-template-rows: 60px calc(100% - 60px);
  gap: 0px 0px;
  min-height: 100vh;
  width: 100%;
      grid-template-areas: "sidebar search " "sidebar main";
  color: #109cf1;
}

.userdashboardpage .search {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: search;
  border-bottom: 1px solid var(--bordercolor);
}

.userdashboardpage .sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  height: 100%;
  -webkit-box-shadow: 6px 0 18px rgba(0, 0, 0, 0.06);
          box-shadow: 6px 0 18px rgba(0, 0, 0, 0.06);
}

.userdashboardpage .main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  margin: 3vh;
  /*  22px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 30px;
  max-height: 90vh;
}

.userdashboardpage .first {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 55%;
          flex: 2 1 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-height: 90vh;
  -webkit-box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06), 0px 6px 18px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06), 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.userdashboardpage .second {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  gap: 15px;
}

.userdashboardpage .container {
  padding: 2% 2.8%;
}

.userdashboardpage .task-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.userdashboardpage .taskhead {
  padding: 0 3% 2%;
}

.userdashboardpage .taskhead-header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  position: relative;
  border-bottom: 4px solid var(--bordercolor);
}

.userdashboardpage .taskhead-header::before {
  border-bottom: 4px solid var(--secondcolor);
  position: absolute;
  width: 80%;
  top: 48px;
  content: "";
  left: 0;
}

.userdashboardpage .taskCopmlete {
  font-weight: var(--fWeight500);
}

.userdashboardpage .viewSelect {
  font-size: 12px;
}

.userdashboardpage .viewSelect::after {
  content: "\f0d7";
  font-family: FontAwesome;
  margin-left: 4px;
  color: #aeaeae;
}

.userdashboardpage .viewChose {
  color: var(--spancolor);
}

.userdashboardpage .calendar > h3 {
  margin-bottom: 6%;
}

.userdashboardpage .dayblock {
  text-align: center;
  font-weight: var(--fWeight500);
  color: #334d6e;
}

.userdashboardpage .dayblock:first-child .dayN {
  background-color: var(--spancolor);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #fff;
}

.userdashboardpage .dayblock:nth-child(2) {
  color: var(--spancolor);
}

.userdashboardpage .dayblock:hover {
  color: var(--spancolor);
  cursor: pointer;
}

.userdashboardpage .task-block {
  border-top: 1px solid var(--bordercolor);
  padding: 3% 3.4% 2.5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.userdashboardpage .task-card {
  -webkit-box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06), 0px 6px 18px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06), 0px 6px 18px rgba(0, 0, 0, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 2vh;
  margin-bottom: 3%;
}

.userdashboardpage .icon {
  position: absolute;
  left: 80%;
  display: none;
}

.userdashboardpage .task-card:hover .icon {
  display: block;
  cursor: pointer;
}

.userdashboardpage .task-header,
.userdashboardpage .task-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userdashboardpage .task-footer {
  position: relative;
}

.userdashboardpage .task-header > h3 {
  font-size: 2vh;
  font-weight: var(--fWeight500);
  margin: 0;
}

.userdashboardpage .task-type {
  font-size: 1.7vh;
  font-weight: var(--fWeight500);
  color: #90a0b7;
}

.userdashboardpage .task-date {
  margin-top: -2vh;
}

.userdashboardpage .task-date > span {
  color: #4c5862;
}

.userdashboardpage .task-person-img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 24px;
}

.userdashboardpage .task-person-name {
  color: #707683;
}

.userdashboardpage .task-status {
  color: #fff;
  font-size: 11px;
  text-align: center;
  width: 84px;
  height: 22px;
  padding: 3px 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.userdashboardpage .complete {
  background-color: var(--secondcolor);
}

.userdashboardpage .ended {
  background-color: #f7685b;
}

.userdashboardpage .task-footer > figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  gap: 12px;
}

.userdashboardpage .show-more > a {
  font-weight: 600;
  color: var(--spancolor);
  text-decoration: none;
}

.userdashboardpage .show-more {
  text-align: center;
}

.userdashboardpage .deals {
  -webkit-box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06), 0px 6px 18px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06), 0px 6px 18px rgba(0, 0, 0, 0.06);
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userdashboardpage .task {
  height: 50%;
  -webkit-box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06), 0px 6px 18px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06), 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.userdashboardpage .panelHeader {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--bordercolor);
  padding: 0 3%;
  height: 52px;
}

.userdashboardpage .panelHeader > h3 {
  margin: 0;
}

.userdashboardpage .deals-graph {
  padding: 3% 5% 0;
}

.userdashboardpage .graphtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4vh;
}

.userdashboardpage .graphtag > svg {
  margin-right: 8px;
}

.userdashboardpage .graph {
  margin: 10px 0;
}

.userdashboardpage .graph > img {
  margin: 0 auto;
  height: auto;
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.userdashboardpage .task-graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* height: 30vh; */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}

.userdashboardpage .task-graph > img {
  height: auto;
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.userdashboardpage .search-form {
  height: 100%;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 36px;
  position: relative;
  border-bottom: 1px solid var(--bordercolor);
}

.userdashboardpage label {
  display: block;
  width: 100%;
}

.userdashboardpage .search-input {
  border: none;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 100%;
  height: 60px;
  padding-left: 32px;
}

.userdashboardpage .search-input::-webkit-input-placeholder {
  color: #90a0b7;
  font: 400 12px/1.4 "Poppins", sans-serif;
}

.userdashboardpage .search-input:-ms-input-placeholder {
  color: #90a0b7;
  font: 400 12px/1.4 "Poppins", sans-serif;
}

.userdashboardpage .search-input::-ms-input-placeholder {
  color: #90a0b7;
  font: 400 12px/1.4 "Poppins", sans-serif;
}

.userdashboardpage .search-input::placeholder {
  color: #90a0b7;
  font: 400 12px/1.4 "Poppins", sans-serif;
}

.userdashboardpage .search-input:focus-visible {
  outline: none;
}

.userdashboardpage button[type="submit"] {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 36px;
  height: 20px;
  width: 20px;
  padding: 0;
  color: #c2cfe0;
}

.userdashboardpage .search-form > svg {
  cursor: pointer;
}

.userdashboardpage .header {
  padding: 0 1.6rem;
  border-bottom: 1px solid #ebeff2;
}

.userdashboardpage .header > h3 {
  font: 600 18px/1.3 "Open Sans", sans-serif;
  color: var(--spancolor);
}

.userdashboardpage .sidebar_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 90vh;
  padding: 0 1.3vw;
}

.userdashboardpage .person {
  margin: 24px 24px 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userdashboardpage .profileImg {
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 46px;
}

.userdashboardpage .description {
  margin-left: 16px;
  display: inline-block;
}

.userdashboardpage .description .descriptionName {
  font-size: 1.8vh;
  font-weight: var(--fWeight500);
}

.userdashboardpage .description .descriptionMail {
  font-size: 1.4vh;
  color: #90a0b7;
}

.userdashboardpage ul {
  padding: 0;
}

.userdashboardpage li {
  list-style: none;
}

.userdashboardpage .navbar {
  margin-top: 50px;
  height: 100%;
}

.userdashboardpage .nav-item {
  margin-bottom: 20px;
}

.userdashboardpage .nav-item:not(:first-child) > a {
  text-decoration: none;
  color: #334d6e;
}

.userdashboardpage .nav-item:first-child > a {
  text-decoration: none;
  color: var(--spancolor);
}

.userdashboardpage .nav-item > a:hover {
  color: var(--spancolor);
}

.userdashboardpage .menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userdashboardpage .nav-label {
  margin-left: 14px;
  font-weight: var(--fWeight500);
}

.userdashboardpage .nav-item:last-child {
  padding-top: 24px;
  border-top: 1px solid var(--bordercolor);
}

.userdashboardpage .toggle {
  position: absolute;
  bottom: 0;
}

@media (max-width: 1130px) {
  .userdashboardpage .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0;
    gap: 5px;
  }
}

@media only screen and (max-width: 500px) {
  .userdashboardpage .wrapper {
    display: -ms-grid;
    display: grid;
    width: 100vw;
    height: 100vh;
        grid-template-areas: "search" "main";
    -ms-grid-columns: 4fr;
        grid-template-columns: 4fr;
    -ms-grid-rows: 60px 1fr;
        grid-template-rows: 60px 1fr;
  }
  .userdashboardpage .search {
    border: none;
  }
  .userdashboardpage .search-form {
    border: none;
  }
  .userdashboardpage .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0;
    gap: 5px;
  }
  .userdashboardpage .sidebar {
    display: none;
  }
  .userdashboardpage .first {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .userdashboardpage .week {
    display: none;
  }
  .userdashboardpage .calendar > h3 {
    margin-bottom: 3%;
  }
  .userdashboardpage .icon {
    left: 60%;
  }
  .userdashboardpage .show-more {
    display: none;
  }
  .userdashboardpage .deals {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .userdashboardpage .task {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

footer {
  width: 100%;
  height: 70px;
  background-color: rgba(43, 39, 36, 0.9);
  padding: 20px 5%;
}

footer .footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

footer .footerContainer a,
footer .footerContainer p {
  color: white;
  font-size: 16px;
  line-height: 20px;
}

footer .footerContainer a {
  outline: none;
  text-decoration: none;
}
/*# sourceMappingURL=global.css.map */